<head>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<div style=" background:linear-gradient(to right, #FFEFBA, #FFFFFF)">
<body class="text-center">
<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
  <li class="active">[ NOW ]</li>
</ol><br>
<h2> 당신의 고민은 
"{{tmi}}"
이군요..<h2>
<h4>하지만 제 고민은 더 엄청납니다.<br> 왜냐하면 지금 이런 홈페이지 하나 만들기도 어려워 하지 때문이죠..<br>
그리고 현재 진로 고민을 계속 하고 있는데 전공을 버리는 게 쉽지 않습니다.<br> 왜냐구요?<br> 포기해야할 것이 많기 때문입니다.<br>
그렇지만 저는 꼭 제가 하고 싶은 일을 하고 싶습니다.<br>
무언가 간절히 이루려고 바라는 사람들과 모여서 일을 하고 싶고<br> 그런 부분에서는 더 성장가능성이 있는
it계열이 적성이 더 맞는 것 같으며<br> 더 나아가서는 제가 팬인
one million dance studio에 개발자로 들어가고 싶습니다.<br>
사실 그래서 몇일 전에 저 회사에 어떠 어떠한 걸 좀 더 준비해야 하냐 물으니 아직 읽으시지도 않네요..<br>
작년 쳐음 개발자를 뽑는다는 <a href="{%url 'home'%}">공</a>고가 떠서 <br>주기적으로 뽑진 않는 것 같아 물었는데 읽지도 않으셨어요(이르기)<br>
사실 그 메일 손까지 떨어가면서 작성했거든요.<br>
어째든 고민 상담은 반대가 되었습니다.<br>
그렇습니다.<br> 이 페이지는 함정입니다.<br>
더 열심히 멋쟁이사자처럼에 참여하고 <br>더 나아가고 발전하는 사람이 되고 싶습니다<br><br>
그리고 이 페이지에는 돌아가기도 숨어있습니다.<br> 한번 찾아보세요. <br>얍.<br>
</h4>
<h3>고생하시는 멋쟁이 사자님들 감사합니다.</h3>
</body>